### (3) DataFrame 사용해 보기

In [1]:
import pandas as pd

In [7]:
two_dimensional_list = [['dongwook',50,86], ['sineui',89,31],['ikjoong',68,91], ['yoonsoo',88,75]]

In [8]:
my_df = pd.DataFrame(two_dimensional_list)
my_df

          0   1   2
0  dongwook  50  86
1    sineui  89  31
2   ikjoong  68  91
3   yoonsoo  88  75

In [9]:
type(my_df)

pandas.core.frame.DataFrame

In [10]:
my_df = pd.DataFrame(two_dimensional_list, columns = ['name','english_score','math_score'], index = ['a','b','c','d'])
my_df

       name  english_score  math_score
a  dongwook             50          86
b    sineui             89          31
c   ikjoong             68          91
d   yoonsoo             88          75

In [11]:
type(my_df)

pandas.core.frame.DataFrame

In [12]:
my_df.columns

Index(['name', 'english_score', 'math_score'], dtype='object')

In [13]:
my_df.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [14]:
my_df.dtypes

name             object
english_score     int64
math_score        int64
dtype: object

In [15]:
#같은 column 내에서는 같은 자료형이여야 한다.

### (6) Pandas로 데이터 읽어들이기!(CSV)

In [33]:
import pandas as pd

In [39]:
iphone_df = pd.read_csv('iphone.csv',encoding='ANSI')

In [42]:
iphone_df
# 우리가 Header에 대해 언급한 적이 없는데, Column에 이름이 적혀있다. 
# read_csv 쓰면 맨 앞줄이 알아서 Column으로 들어감

      Unnamed: 0         출시일  디스플레이  메모리     출시 버전 Face ID
0       iPhone 7  2016-09-16    4.7  2GB  iOS 10.0      No
1  iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
2       iPhone 8  2017-09-22    4.7  2GB  iOS 11.0      No
3  iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
4       iPhone X  2017-11-03    5.8  3GB  iOS 11.1     Yes
5      iPhone XS  2018-09-21    5.8  4GB  iOS 12.0     Yes
6  iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [45]:
# Header줄이 없는 경우에는 header = none 추가
iphone_df = pd.read_csv('iphone.csv',encoding='ANSI', header = None)
iphone_df

               0           1      2    3         4        5
0            NaN         출시일  디스플레이  메모리     출시 버전  Face ID
1       iPhone 7  2016-09-16    4.7  2GB  iOS 10.0       No
2  iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0       No
3       iPhone 8  2017-09-22    4.7  2GB  iOS 11.0       No
4  iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0       No
5       iPhone X  2017-11-03    5.8  3GB  iOS 11.1      Yes
6      iPhone XS  2018-09-21    5.8  4GB  iOS 12.0      Yes
7  iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0      Yes

In [41]:
# read_csv가 DataFrame을 반환
type(iphone_df)

pandas.core.frame.DataFrame

In [49]:
# Row 이름을 지정해주고 싶으면 : index_col = X 쓰자 -> X번째 Col이 Row 이름!
iphone_df = pd.read_csv('iphone.csv',encoding='ANSI',index_col = 0)
iphone_df

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes