# Pandas

### (3) DataFrame 사용해 보기

In [1]:
import pandas as pd

In [2]:
two_dimensional_list = [['dongwook',50,86], ['sineui',89,31],['ikjoong',68,91], ['yoonsoo',88,75]]

In [3]:
my_df = pd.DataFrame(two_dimensional_list)
my_df

          0   1   2
0  dongwook  50  86
1    sineui  89  31
2   ikjoong  68  91
3   yoonsoo  88  75

In [4]:
type(my_df)

pandas.core.frame.DataFrame

In [5]:
my_df = pd.DataFrame(two_dimensional_list, columns = ['name','english_score','math_score'], index = ['a','b','c','d'])
my_df

       name  english_score  math_score
a  dongwook             50          86
b    sineui             89          31
c   ikjoong             68          91
d   yoonsoo             88          75

In [6]:
type(my_df)

pandas.core.frame.DataFrame

In [7]:
my_df.columns

Index(['name', 'english_score', 'math_score'], dtype='object')

In [8]:
my_df.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [9]:
my_df.dtypes

name             object
english_score     int64
math_score        int64
dtype: object

In [10]:
#같은 column 내에서는 같은 자료형이여야 한다.

### (6) Pandas로 데이터 읽어들이기!(CSV)

In [11]:
import pandas as pd

In [12]:
iphone_df = pd.read_csv('iphone.csv',encoding='ANSI')

In [13]:
iphone_df
# 우리가 Header에 대해 언급한 적이 없는데, Column에 이름이 적혀있다. 
# read_csv 쓰면 맨 앞줄이 알아서 Column으로 들어감

      Unnamed: 0         출시일  디스플레이  메모리     출시 버전 Face ID
0       iPhone 7  2016-09-16    4.7  2GB  iOS 10.0      No
1  iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
2       iPhone 8  2017-09-22    4.7  2GB  iOS 11.0      No
3  iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
4       iPhone X  2017-11-03    5.8  3GB  iOS 11.1     Yes
5      iPhone XS  2018-09-21    5.8  4GB  iOS 12.0     Yes
6  iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [14]:
# Header줄이 없는 경우에는 header = none 추가
iphone_df = pd.read_csv('iphone.csv',encoding='ANSI', header = None)
iphone_df

               0           1      2    3         4        5
0            NaN         출시일  디스플레이  메모리     출시 버전  Face ID
1       iPhone 7  2016-09-16    4.7  2GB  iOS 10.0       No
2  iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0       No
3       iPhone 8  2017-09-22    4.7  2GB  iOS 11.0       No
4  iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0       No
5       iPhone X  2017-11-03    5.8  3GB  iOS 11.1      Yes
6      iPhone XS  2018-09-21    5.8  4GB  iOS 12.0      Yes
7  iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0      Yes

In [15]:
# read_csv가 DataFrame을 반환
type(iphone_df)

pandas.core.frame.DataFrame

In [37]:
# Row 이름을 지정해주고 싶으면 : index_col = X 쓰자 -> X번째 Col이 Row 이름!
iphone_df = pd.read_csv('iphone.csv',encoding='ANSI',index_col = 0)
iphone_df

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [38]:
iphone_df.loc['iPhone 8', '메모리']

'2GB'

# DataFrame 인덱싱

### (1) DataFrame 인덱싱 1

In [23]:
# 가격은 없기 때문에 오류가 납니다.
iphone_df.loc['iPhone 8', '가격']

KeyError: '가격'

In [26]:
# iPhoneX에 대한 정보를 모두 받아오기
iphone_df.loc['iPhone X', :]

출시일        2017-11-03
디스플레이             5.8
메모리               3GB
출시 버전        iOS 11.1
Face ID           Yes
Name: iPhone X, dtype: object

In [27]:
iphone_df.loc['iPhone X']

출시일        2017-11-03
디스플레이             5.8
메모리               3GB
출시 버전        iOS 11.1
Face ID           Yes
Name: iPhone X, dtype: object

In [29]:
type(iphone_df.loc['iPhone X'])
# Series : 한 줄을 말하는 것

pandas.core.series.Series

In [30]:
# 모든 Row에 대해서
iphone_df.loc[:,'출시일']

iPhone 7         2016-09-16
iPhone 7 Plus    2016-09-16
iPhone 8         2017-09-22
iPhone 8 Plus    2017-09-22
iPhone X         2017-11-03
iPhone XS        2018-09-21
iPhone XS Max    2018-09-21
Name: 출시일, dtype: object

In [33]:
iphone_df['출시일']

iPhone 7         2016-09-16
iPhone 7 Plus    2016-09-16
iPhone 8         2017-09-22
iPhone 8 Plus    2017-09-22
iPhone X         2017-11-03
iPhone XS        2018-09-21
iPhone XS Max    2018-09-21
Name: 출시일, dtype: object

In [34]:
type(iphone_df['출시일'])

pandas.core.series.Series

### (6)DataFrame 인덱싱 2

In [39]:
iphone_df.loc['iPhone X']

출시일        2017-11-03
디스플레이             5.8
메모리               3GB
출시 버전        iOS 11.1
Face ID           Yes
Name: iPhone X, dtype: object

In [42]:
iphone_df.loc[['iPhone X', 'iPhone 8']]

                 출시일  디스플레이  메모리     출시 버전 Face ID
iPhone X  2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone 8  2017-09-22    4.7  2GB  iOS 11.0      No

In [43]:
type(iphone_df.loc[['iPhone X', 'iPhone 8']])

pandas.core.frame.DataFrame

In [45]:
iphone_df['Face ID']

iPhone 7          No
iPhone 7 Plus     No
iPhone 8          No
iPhone 8 Plus     No
iPhone X         Yes
iPhone XS        Yes
iPhone XS Max    Yes
Name: Face ID, dtype: object

In [46]:
iphone_df[['Face ID','출시일','메모리']]

              Face ID         출시일  메모리
iPhone 7           No  2016-09-16  2GB
iPhone 7 Plus      No  2016-09-16  3GB
iPhone 8           No  2017-09-22  2GB
iPhone 8 Plus      No  2017-09-22  3GB
iPhone X          Yes  2017-11-03  3GB
iPhone XS         Yes  2018-09-21  4GB
iPhone XS Max     Yes  2018-09-21  4GB

In [47]:
iphone_df.loc['iPhone 8' : 'iPhone XS']

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes

In [48]:
iphone_df.loc[: 'iPhone XS']

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes

In [50]:
# 컬럼을 인덱싱?! 이건 노노!
iphone_df['메모리':'Face ID']

Empty DataFrame
Columns: [출시일, 디스플레이, 메모리, 출시 버전, Face ID]
Index: []

In [52]:
# 이렇게 해야 한다!
iphone_df.loc[:,'메모리':'Face ID']

               메모리     출시 버전 Face ID
iPhone 7       2GB  iOS 10.0      No
iPhone 7 Plus  3GB  iOS 10.0      No
iPhone 8       2GB  iOS 11.0      No
iPhone 8 Plus  3GB  iOS 11.0      No
iPhone X       3GB  iOS 11.1     Yes
iPhone XS      4GB  iOS 12.0     Yes
iPhone XS Max  4GB  iOS 12.0     Yes

### (8)DataFrame 조건으로 인덱싱

In [55]:
iphone_df.loc[[True,False,True,True,False,True,False]]
# True인 인덱스들만 출력

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes

In [59]:
iphone_df.loc[[True,False,False,True]]
# 낮은 버전의 Pandas에서는 이렇게 써도 뒤에 나머지 3개가 False로 들어감

IndexError: Boolean index has wrong length: 4 instead of 7

In [64]:
# Column에도 적용 가능 물론!
iphone_df.loc[:,[True,False,False,True,False]]

                      출시일     출시 버전
iPhone 7       2016-09-16  iOS 10.0
iPhone 7 Plus  2016-09-16  iOS 10.0
iPhone 8       2017-09-22  iOS 11.0
iPhone 8 Plus  2017-09-22  iOS 11.0
iPhone X       2017-11-03  iOS 11.1
iPhone XS      2018-09-21  iOS 12.0
iPhone XS Max  2018-09-21  iOS 12.0

In [65]:
iphone_df['디스플레이'] > 5

iPhone 7         False
iPhone 7 Plus     True
iPhone 8         False
iPhone 8 Plus     True
iPhone X          True
iPhone XS         True
iPhone XS Max     True
Name: 디스플레이, dtype: bool

In [66]:
iphone_df.loc[iphone_df['디스플레이'] > 5]

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [67]:
iphone_df['Face ID'] == 'Yes'

iPhone 7         False
iPhone 7 Plus    False
iPhone 8         False
iPhone 8 Plus    False
iPhone X          True
iPhone XS         True
iPhone XS Max     True
Name: Face ID, dtype: bool

In [68]:
iphone_df.loc[iphone_df['Face ID'] == 'Yes']

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [78]:
condition_and = (iphone_df['디스플레이'] > 5) & (iphone_df['Face ID'] == 'Yes')
condition_and

iPhone 7         False
iPhone 7 Plus    False
iPhone 8         False
iPhone 8 Plus    False
iPhone X          True
iPhone XS         True
iPhone XS Max     True
dtype: bool

In [79]:
iphone_df[condition_and]

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [80]:
condition_or = (iphone_df['디스플레이'] > 5) | (iphone_df['Face ID'] == 'Yes')
condition_or

iPhone 7         False
iPhone 7 Plus     True
iPhone 8         False
iPhone 8 Plus     True
iPhone X          True
iPhone XS         True
iPhone XS Max     True
dtype: bool

In [81]:
iphone_df[condition_or]

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

### (11) DataFrame 위치로 인덱싱하기

In [82]:
# Pandas에서도 숫자로 인덱싱 가능해요!

In [84]:
# loc = location / iloc = integer location
iphone_df.iloc[2,4]

'No'

In [86]:
iphone_df.iloc[[1,3],[1,4]] # 1,3번 Row / 1,4번 Column

               디스플레이 Face ID
iPhone 7 Plus    5.5      No
iPhone 8 Plus    5.5      No

In [87]:
iphone_df.iloc[3:,1:4]

               디스플레이  메모리     출시 버전
iPhone 8 Plus    5.5  3GB  iOS 11.0
iPhone X         5.8  3GB  iOS 11.1
iPhone XS        5.8  4GB  iOS 12.0
iPhone XS Max    6.5  4GB  iOS 12.0